body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f2f2f2;
}

.admin-header {
  background-color: #222;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.user-menu-container {
  position: relative;
}

.dropdown {
  position: absolute;
  right: 0;
  top: 50px;
  background-color: black;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 200px;
  padding: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

.dropdown p {
  margin: 10px 0;
  cursor: pointer;
}

.hidden {
  display: none;
}

a {
  text-decoration: none;
}

b[class=text-underline] {
  text-decoration: underline;
}

.logo-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
    }

img {
    height: 85px;
    width: 92px;
}

#logout {
  background-color: rgb(135, 236, 135);
  color: white;
}